*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%; 
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #41e1a7;
}

#panel{
    /* position: relative; */
    width: 80%;
    height: 80%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    /* position: absolute; */
    padding: 10px 30%;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #0ea36d;
    color: white;
}

.elem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: yellow; */
    /* margin: 10%; */
}

#startbtn{
    padding: 10px 20px;
    margin-right: 7%;
    background-color: white;
    color: #0ea36d;
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;
}

#pbtm h1{
    color: #06593a;
}

#startbtn:hover{
    cursor: pointer;
    background-color: #06593a;
    color: white;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    padding: 10px 20px;
    background-color: white;
    color: #0ea36d;
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: white;
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #0ea36d;
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.bubble:hover{
    cursor: pointer;
    background-color: #06593a;
}







